.quiz-card {
    margin: 0 auto;
    max-width: 40em;
}

.card-content {
    padding: 1em;
}

.ques-radio-group {
    display: inline-flex;
    flex-direction: column;
}

.ques-radio-button {
    margin: 5px;
}

.correct {
    color: green;
    padding-top: 1em;
}

.incorrect {
    color: red;
    padding-top: 1em;
}